@import '../../global.scss';

.topbar {
  width: 100%;
  height: 70px;
  background-color: rgba(49, 0, 23, 0.986);
  color: rgba(49, 0, 23, 0);
  position: fixed;
  top: 0;
  z-index: 4;
  //smooth color transition when the menu is activated
  transition: all 1s ease;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: rgb(24, 3, 3);
        text-shadow: 0 0 2px $mainColor;
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;

        @include mobile {
          display: none;
        }

        span {
          font-size: 15px;
          font-weight: 500;

          a {
            font-size: inherit;
            color: inherit;
            text-decoration: none;
            font-size: 25px;
            font-weight: 200;
            margin-left: 100px;
            &:hover {
              font-weight: 400;
            }
          }
        }
      }
    }

    .right {
      .hamburger {
        color: white;
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        overflow: hidden;

        span {
          width: 100%;
          height: 3px;
          background-color: rgba(245, 209, 222, 0.966);
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: rgb(31, 4, 16);
    color: $mainColor;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
